<%= form_for @asset do |f| %>
 
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@asset.errors.count, "error") %> prohibited
        this asset from being saved:
      </h2>
      <ul>
        <% @asset.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :video %><br>
    <%= f.file_field :video %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>